<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Change Password</h1>
    <div>enter Old Password</div>
    <form method="post">
        <input type="text" name="Oldone">
        <br />
        <div>Enter New Password</div>
        <input type="text" name="Newone" />
        <br />
        <input type="submit" name="submit" />
    </form>

</body>
</html>