<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
   <h1>MoneyPage</h1>

      <form method="post">
     
          <select name="State">
          <option value="Coming">Money Coming</option>
          <option value="Going">Money Leaving</option>
          </select>
          <br />
          <br />
 <div>When: </div> <input type="date" name="Date"/>
          <br />
   <div>What: </div> <input type="text" name="What" />
          <br />
         <div>Where: </div> <input type="text" name="Where" />
          <br />
          <div>How Much: </div> <input type="text" name="Amount" />
          <br />
<input type="submit"  name="submit"/>

      </form>
</body>
</html>