@model AccountingSytmWArsh.Models.PasswordAttemptsFormat;
@using MySql.Data.MySqlClient;
@using AccountingSytmWArsh.Models;
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Accounting System</title>
</head>
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/light-blue-tech-geometric-polygonal-motion-background-video-corporate-animation-hd-1920x1080_nde0ffkig__F0000.png">

    <center><h1> Add your pin to access your account</h1></center>
  

    <center>
        <form method="post">
            Password:<input type="password" name="Password"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br />


    </center>


    <center>
        <form action="/ChangePassword">
           
            <input type="submit" value="ChangePassword">
        </form>
        <br />


    </center>

</body>
</html>
